{% extends 'base.html.twig' %}

{% block title %}
    <title>d-lynck printing</title>
{% endblock %}

{% block body %}
    {% if null == pictures %}
        <div class="container-fluid">
            <div class="alert alert-heading">
                Er zijn momenteel geen voorbeeldfoto's beschikbaar...
            </div>
        </div>
    {% else %}
        <div class="waiting-for-display">
            <div class="loading">
                Loading <i class="fas fa-spinner fa-spin"></i>
            </div>
        </div>
        <div class="no-display">
            <div class="container-fluid picture-tile-wrapper">
                {% for picture in pictures %}
                    <div class="picture-tile" style="background-image: url('{{ picture.path }}')"
                         data-id="#comment_{{ picture.id }}">
                        <div class="picture-tile-category">
                            {{ picture.categoryName | capitalize }}
                        </div>
                        <div class="picture-tile-comment" id="comment_{{ picture.id }}">
                            {{ picture.comment | capitalize }}
                            <div class="picture-tile-view-more">
                                <a href="./category/{{ picture.categoryId }}" class="btn btn-lg btn-outline-warning">Bekijk meer</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <video autoplay muted loop id="myVideo">
                <source src="img/video/network.mp4" type="video/mp4">
                <div class="black"></div>
            </video>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.waiting-for-display').hide();
            $('.no-display').fadeIn(500);
            // $('#myVideo').playbackRate = 3;
            // setTimeout(function () {
            //     $('.home-screen-banner').show(1000);
            // }, 3000)
        });
    </script>
{% endblock %}