<div class="page-part-wrapper">
    <div class="page-part-left page-part">
        <div class="info-title-wrapper">
            <div class="info-title"></div>
            <div class="info-sub-title">
                {{ seo.home.line_1 | capitalize }}
            </div>
            <div class="info-sub-title">
                {{ seo.home.line_2 | capitalize }}
            </div>
            <div class="info-sub-title">
                {{ seo.home.line_3 | capitalize }}
            </div>
            <div class="info-button link" data-anchor="#{{ seo.home.button.anchor }}">
                {{ seo.home.button.caption | capitalize }}
            </div>
            <div class="info-facebook">
                <a href="{{ seo.facebook.link }}" title="{{ seo.facebook.title }}">{{ seo.facebook.icon | raw }}</a>
            </div>
        </div>
    </div>
    <div class="page-part-right page-part">
        <div class="picture-carousel"></div>
    </div>
</div>
